:root{
  --principal-color:#563761;
  --background-light: #ffffff;

  --load-light: rgb(70, 70, 70);
  --load-dark: rgb(49, 49, 49);

  --principal-font-color: white;

  --font-size-title-principal: 32px;
  --font-size-principal: 16px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: var(--principal-color);
}

a{
  color: var(--principal-font-color);
  
  text-decoration: none;
  font-weight: 700;
}

.header-movies{
  position: relative;
  min-height: 70px;
  max-height: 500px;
}

.header_article-nav{
  position: absolute;

  display: grid;
  grid-template-columns: 1fr 1fr;
  
  width: 100%;
  height: 70px;
  
  background-image: linear-gradient(180deg, rgba(14, 13, 13, 0.768) 52%, rgba(255,255,255,0) 100%);

  z-index: 10;
}

.header-movies_section-title{
  height: 100%;
  padding: 10px 0 0 20px;

  color: var(--principal-font-color);

  font-weight: 700;
}

.header-movies_section-search{
  padding: 10px 20px 0 0;
}

.search_container{
  display: flex;
  justify-content: end;
  align-items: center;

}

.search_input{
  width: 80%;
  height: 25px;

  border: none;
  border-radius: 8px 0 0 8px;
}

.search_button{
  width: 20%;
  height: 25px;
  border: none;
  border-radius: 0 8px 8px 0;

  background-color: #A7425C;
  cursor: pointer;
}

.search_button img{
  width: 30%;
}

.header_article-movies{
  display: flex;
  justify-content: center;

  max-height: 500px;

  overflow-y: hidden;
}

.header_article-movies.load{
  height: 500px;
  background-color: var(--load-light);
}

.article-movies_section-description{
  position: absolute;
  top: 40%;

  width: 80%;
  height: 40%;

  color: white;

  overflow: auto;
  backdrop-filter: blur(2px);
}

.article-movies_section-description.load{
  padding: 20px;
  background-color: var(--load-dark);
}

.article-movies_section-description h2{
  margin-bottom: 10px;

  line-height: 34px;
  font-size: var(--font-size-title-principal);
}

.article-movies_section-description.load h2.load{
  width: 100%;
  height: 30%;

  background-color: var(--load-light);
  animation: load-animation 2000ms infinite;
}

.article-movies_section-description span{
  display: inline-block;

  height: 60%;
  max-width: 100%;

  font-size: var(--font-size-principal);
  font-weight: 500;
  line-height: 22px;
}

.article-movies_section-description.load span.load{
  width: 100%;
  height: 60%;

  background-color: var(--load-light);
  animation: load-animation 2000ms infinite;
}

.article-movies_image{
  width: 100%;
}


/*
*
*Main Styles
*
*/

.main-movies{
  background-color: var(--background-light);
}

.main-movies article{
  background-color: var(--background-light);
}

.main_article{
  display: flex;
  flex-direction: column;

  padding: 25px;
}

.article_container{
  display: flex;
  gap: 20px;

  padding: 15px 0;

  overflow-x: auto;
}

.gender__container{
  flex-direction: column;
}

.main_article h2.load{
  width: 50%;
  height: 42px;

  background-color: var(--load-light);
  animation: load-animation 2000ms infinite;
}

.main_article img,
.main_article div.load{
  min-width: 150px;
  width: 150px;
  height: 250px;
  border-radius: 15px;
}

.main_article .load{
  background: var(--load-light);
  animation: load-animation 2000ms infinite;
}

.footer-movies{
  display: flex;
  align-items: center;

  height: 40px;
  width: 100vw;
  padding-left: 30px;

  background-image: linear-gradient(180deg, rgba(255,255,255,0) 10%, rgba(14, 13, 13, 0.768) 100%);
  color: var(--principal-font-color);

  font-weight: 500;
}


@keyframes load-animation {
  0%{
    opacity: 1;
  }

  50%{
    opacity: 0.5;
  }

  100%{
    opacity: 1;
  }
}